{% load user_filters %}
<div class="main__header">
    <h1 class="main__title">{% if request.resolver_match.url_name == 'password_reset' %}Сбросить пароль{% else %}Изменить пароль{% endif %}</h1>
</div>
<div class="form-container">
    <form class="form" form method="post" action="{% if request.resolver_match.url_name == 'password_reset' %}{% url 'password_reset' %}{% else %}{% url 'password_change' %}{% endif %}">
        {% csrf_token %}

        {% for field in form %}
            {% if request.resolver_match.url_name == 'password_reset' %}
                <p class="form__info-text">
                    Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
                </p>
            {% endif %}
            <div class="form__group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                <div class="form__field-group">
        
                    {{ field|addclass:"form__input" }}
        
                    {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form__input-info">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>                
            </div>
        {% endfor %}
        <div class="form__footer">
            {% if request.resolver_match.url_name == 'password_reset' %}
                <button type="submit" class="button button_style_blue">Сбросить пароль</button>
            {% else %}
                <button type="submit" class="button button_style_blue">Изменить пароль</button>
            {% endif %}
        </div>
    </form>
</div>
