{% load recipe_filters %}
{% if user.is_authenticated and request.user != author %}
    {% csrf_token %}
    {% if author|follow_exists:user %} 
        <button class="button button_style_light-blue 
        {% if request.resolver_match.url_name == 'follow_index' %}button_size_auto{% endif %}" 
        name="subscribe">Отписаться от автора</button>
    {% else %}
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button>
    {% endif %}
{% endif %}
