{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Выход{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static './pages/index.css' %}">{% endblock %}
{% block content %}
    <div class="custom-center-block">
            <p class="custom-text-block">Вы вышли из своей учётной записи. Ждём вас снова!</p>
        <div class="custom-button-block">
            <a href="/"><button class="button button_style_blue">Перейти на главную</button></a>
        </div>
    </div>
{% endblock %}