{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %} Изменить пароль {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static './pages/form.css' %}">{% endblock %}
{% block content %}
{% if validlink %}
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" form method="post" action="{% url 'password_change' %}">
            {% include 'general_form.html' with form=form %}
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Изменить пароль</button>
            </div>
        </form>
    </div>
{% else %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">Ошибка</div>
                <div class="card-body">
                    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
