{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Изменить пароль{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static './pages/form.css' %}">{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% for field in form %}
                <p class="form__info-text">
                    Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
                </p>
                {% include 'password_form.html' with field=field %}
            {% endfor %}
           <div class="form__footer">
               <button class="button button_style_blue">Сбросить пароль</button>
           </div>
        </form>
    </div>
{% endblock %}
