{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Успешный сброс пароля{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static './pages/index.css' %}">{% endblock %}
{% block content %}
    <div class="custom-center-block">
        <h3 class="main__title">Сброс пароля прошёл успешно!</h3>
            <p class="custom-text-block">
                Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.
            </p>
        <div class="custom-button-block">
            <a href="/"><button class="button button_style_blue">Перейти на главную</button></a>
        </div>
    </div>
{% endblock %}