{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}<!-- Title -->{% endblock %}</title>
    {% block css %}<link rel="stylesheet" href="{% static './pages/index.css' %}">{% endblock %}
    {% endblock %}
</head>
<body class="body">
<header class="header">
    {% include 'nav.html' with user=user %}
</header>
    <main class="main container">
        {% block content %}
        <!-- Content -->
        {% endblock %}
    </main>
    {% include 'footer.html' %}
    {% block scripts %}
    <!-- Scripts -->
    {% endblock %}
</body>
</html>
