{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Пароль изменен{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static './pages/index.css' %}">{% endblock %}
{% block content %}
        <div class="custom-center-block">
            <p class="custom-text-block">Стек технологий: Python 3.8.5, Django 3.1.7, djangorestframework</p>
        <div class="custom-button-block">
            <a href="/"><button class="button button_style_blue">Перейти на главную</button></a>
        </div>
    </div>
{% endblock %}
