{% extends "new_edit_recipe.html" %}
{% load static %}
{% load user_filters %}
{% block title %} Создание рецепта {% endblock %}
{% block name %} Создание рецепта {% endblock %}
{% block image %}
    <div class="form__group">
        <label for="{{ form.image.id_for_label }}" class="form__label">Загрузить изображение</label>
        <div class="form__field-group">
            {{ form.image }}
            <span class="form__error"></span>
        </div>
    </div>
{% endblock %}
{% block button %}
    <div class="form__footer">
        <button class="button button_style_blue">Создать рецепт</button>
    </div>
{% endblock %}
