{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %} {{ author }} {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static './pages/index.css' %}">{% endblock %}
{% block content %}
        <div class="main__header">
            <h1 class="main__title">{{ author.first_name }} {{ author.last_name }}</h1>
            {% include 'tags.html' with tags=tags %}
        </div>
        <div class="author-subscribe" data-author="{{ author.username }}">  
            <p style="padding: 0 0 2em 0;">{% include 'follow_buttons.html' %}</p>
        </div>
        <div class="card-list" >
            {% for recipe in page %}
                {% include 'recipe.html' with recipe=recipe tag=tag %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include 'paginator.html' with items=page paginator=paginator %}
        {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static './js/components/MainCards.js' %}"></script>

  <script src="{% static './js/components/Purchases.js' %}"></script>
  <script src="{% static './js/components/Favorites.js' %}"></script>
  <script src="{% static './js/components/Subscribe.js' %}"></script>

  <script src="{% static './js/config/config.js' %}"></script>
  <script src="{% static './js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static './js/components/Header.js' %}"></script>

  <script src="{% static './js/api/Api.js' %}"></script>
  <script src="{% static 'authorRecipe.js' %}"></script>
{% endblock %}
