{% extends "new_edit_recipe.html" %}
{% load static %}
{% load user_filters %}
{% load recipe_filters %}
{% block title %} Редактирование рецепта {% endblock %}
{% block name %} Редактирование рецепта {% endblock %}
{% block ingredients %}
    {% for item in ingredient.ingredientrecipe|ingredient_for_recipe:recipe %}
        <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
            <span> 
                {{ item.ingredient.name }} {{ item.value }} {{ item.ingredient.unit }}
            </span>
            <span class="form__field-item-delete"></span>
            <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.name }}">
            <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.ingredientrecipe.value }}">
            <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.unit }}">
        </div>
    {% endfor %}
{% endblock %}
{% block image %}
    <div class="form__group">
        <span class="form__label">Загрузить фото</span>
        <div class="form__field-group">
            <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}">{{ form.image.value|default_if_none:'' }}
            <span class="form__error"></span>
        </div>
    </div>
{% endblock %}
{% block button %}
    <div class="form__footer">
        <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe.author recipe.id %}" class="form__ingredient-link">Удалить</a>
    </div>
{% endblock %}
