{% load recipe_filters %} 
<ul class="tags"> 
    <li class="tags__item"> 
        {% for tag in tags_instance %}
        <li class="tags__item"> 
            {% if tag in tags %} 
                <a id="{% if tag == "Завтрак" %}breakfast{% elif tag == "Обед" %}lunch{% elif tag == "Ужин" %}dinner{% endif %}" class="tags__checkbox tags__checkbox_style_{% if tag == "Завтрак" %}orange{% elif tag == "Обед" %}green{% elif tag == "Ужин" %}purple{% endif %} tags__checkbox_active" {% if tag == "Завтрак" %}href="?{% set_tags request 'Завтрак' %}{% elif tag == "Обед" %}href="?{% set_tags request 'Обед' %}{% elif tag == "Ужин" %}href="?{% set_tags request 'Ужин' %}{% endif %}"></a> 
                <span class="tags__label">{% if tag == "Завтрак" %}Завтрак{% elif tag == "Обед" %}Обед{% elif tag == "Ужин" %}Ужин{% endif %}</span> 
            {% else %} 
                <a id="{% if tag == "Завтрак" %}breakfast{% elif tag == "Обед" %}lunch{% elif tag == "Ужин" %}dinner{% endif %}" class="tags__checkbox tags__checkbox_style_{% if tag == "Завтрак" %}orange{% elif tag == "Обед" %}green{% elif tag == "Ужин" %}purple{% endif %}" {% if tag == "Завтрак" %}href="?{% set_tags request 'Завтрак' %}{% elif tag == "Обед" %}href="?{% set_tags request 'Обед' %}{% elif tag == "Ужин" %}href="?{% set_tags request 'Ужин' %}{% endif %}"></a>
                <span class="tags__label">{% if tag == "Завтрак" %}Завтрак{% elif tag == "Обед" %}Обед{% elif tag == "Ужин" %}Ужин{% endif %}</span> 
            {% endif %}
        </li>
        {% endfor %}
    </li> 
</ul>
